<.live_component
  show={@show_search}
  module={WololoWeb.SearchComponent}
  id="global-search"
  on_cancel={JS.push("close_search")}
/>
<.nav_header show_home_link?={true} />
<main class="px-3 py-4 sm:px-4 sm:py-6 lg:px-5">
  <div>
    <.flash_group flash={@flash} />
    <%= @inner_content %>
  </div>
</main>
