<.header>Civs by Map</.header>

<%= if @loading do %>
  <div class="flex justify-center items-center">
    <.spinner size="lg" class="text-brand-500" />
  </div>
<% else %>
  <.form for={%{}} phx-change="select-league" class="mb-4">
    <.input
      type="select"
      options={@league_options}
      name="league"
      prompt="Select a League"
      value={@selected_league}
    />
  </.form>

  <%= if @error do %>
    <.error><%= @error %></.error>
  <% else %>
    <div class="hidden md:block">
      <.table id="aoe4_civilizations" rows={@maps}>
        <:col :let={map} label={civ_header(%{image: nil, label: "Map"})}>
          <div class="p-2 w-full h-full text-stone-800 dark:text-zinc-100">
            <%= map.name %>
          </div>
        </:col>
        <:col
          :let={map}
          :for={civ <- Enum.drop(@civs, 1)}
          label={civ_header(%{image: civ.image, label: civ.label})}
        >
          <div class={"#{color_class(get_in(map, [:civs, civ.key, :win_rate]), :bg)} p-2 w-full h-full hover:scale-[1.15] hover:brightness-95 transition-all duration-200 ease-in-out rounded-sm"}>
            <div class="flex flex-col items-center">
              <div>
                <%= get_in(map, [:civs, civ.key, :win_rate]) || "N/A" %>
              </div>
                             <div>
                 (<%= format_number(get_in(map, [:civs, civ.key, :games_count])) %>)
               </div>
            </div>
          </div>
        </:col>
      </.table>
    </div>

    <div class="md:hidden space-y-4 w-full max-w-full">
      <%= for map <- @maps do %>
        <div class="shadow rounded-lg overflow-hidden w-full">
          <div class="bg-zinc-100 dark:bg-stone-800  font-bold w-full">
            <%= map.name %>
          </div>
          <div class="p-4">
            <div class="grid grid-cols-3 gap-2">
              <%= for civ <- Enum.drop(@civs, 1) do %>
                <div class="flex flex-col items-center">
                  <%= if civ.image do %>
                    <img src={"/images/#{civ.image}.png"} alt={civ.label} class="w-10 h-6 mb-1" />
                  <% end %>
                  <span class={"text-sm font-semibold #{color_class(get_in(map, [:civs, civ.key, :win_rate]), :text)}"}>
                    <%= get_in(map, [:civs, civ.key, :win_rate]) || "N/A" %>
                  </span>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>
