<div id="wrs-by-length">
  <%= if @loading do %>
    <div class="flex justify-center items-center">
      <.spinner size="lg" class="text-brand-500 dark:text-stone-400" />
    </div>
  <% else %>
    <canvas id="wrs" phx-hook="WrsByGameLength" data-points={Jason.encode!(@wrs)}></canvas>
  <% end %>
</div>