<div id="wrs-by-length">
  <%= if @loading do %>
    <div class="flex justify-center items-center">
      <.spinner size="lg" class="text-brand-500 dark:text-stone-400" />
    </div>
  <% else %>
    <% common_stat_classes =
    "font-zabal font-black text-3xl mx-auto text-center text-stone-800 dark:text-zinc-100" %>
    <h1 class="font-zabal font-gray text-4xl my-8 mx-auto text-center text-stone-800 dark:text-zinc-100">
      WR by Game Length   </h1>
    <canvas id="wrs" phx-hook="WrsByGameLength" data-points={Jason.encode!(@wrs)}></canvas>
  <% end %>
</div>