<div id="opponents-by-country" class="flex">
  <%= if @loading do %>
    <div class="flex justify-center items-center w-full">
      <.spinner size="lg" class="text-brand-500" />
    </div>
  <% else %>
    <div class="mx-auto my-auto w-full max-w-[600px] center">
    <% common_stat_classes =
    "font-zabal font-black text-3xl mx-auto text-center text-stone-800 dark:text-zinc-100" %>
    <h1 class="font-zabal font-gray text-4xl my-8 mx-auto text-center text-stone-800 dark:text-zinc-100">
      Opponents by Country  </h1>
        <canvas id="countries" phx-hook="OpponentsByCountry" data-points={Jason.encode!(@countries)}>
        </canvas>
    </div>
  <% end %>
</div>
