<div id="rating">
  <% common_stat_classes =
    "font-zabal font-black text-3xl mx-auto text-center text-stone-800 dark:text-zinc-100" %>
  <.async_result :let={stats} assign={@stats}>
    <:loading>
      <div class="flex justify-center items-center">
        <.spinner size="lg" class="text-brand-500" />
      </div>
    </:loading>
    <:failed :let={_reason}>Failed to load stats</:failed>
    <%!-- stupid tw --%>
    <div class="text-[#B87333]" />
    <div class="text-[#C0C0C0]" />
    <div class="text-[#FFC125]" />
    <div class="text-[#E6E6E6]" />
    <div class="text-[#87CEEB]" />
    <div class="text-[#FF8C00]" />
    <div class="text-[#DDDDDD]" />
    <%!-- stupid tw --%>

    <h1 class="font-zabal font-gray text-4xl my-8 mx-auto text-center text-stone-800 dark:text-zinc-100">
      Current Season Rating
    </h1>
    <h1 class={[common_stat_classes]}>
      Max:
      <span class={["text-[#{rating_to_color_map(stats[:max_rating])}]"]}>
        <%= stats[:max_rating] %>
      </span>
    </h1>
    <h1 class={[common_stat_classes]}>
      7D High:
      <span class={["text-[#{rating_to_color_map(stats[:max_rating_7d])}]"]}>
        <%= stats[:max_rating_7d] %>
      </span>
    </h1>
    <h1 class={[common_stat_classes]}>
      30D High:
      <span class={["text-[#{rating_to_color_map(stats[:max_rating_1m])}]"]}>
        <%= stats[:max_rating_1m] %>
      </span>
    </h1>
    <%!-- line break --%>
    <h1 class={[common_stat_classes]}>
      Last <%= stats[:total_count] %> games:
      <span class={["text-[#{rating_to_color_map(stats[:average_rating])}]"]}>
        <%= stats[:average_rating] %>
      </span>
    </h1>
    <h1 class={[common_stat_classes, "flex items-center justify-center gap-2"]}>
      <span>Standard Deviation:</span>
      <span style="color: rgba(230, 74, 25, 1);">
        ±<%= stats[:rating_spread] %>
      </span>
      <span class="text-stone-400 dark:text-zinc-500 cursor-help group relative">
              <.icon name="hero-information-circle" class="h-4 w-4" />
              <span class="invisible group-hover:visible absolute right-6 top-0 w-96 bg-gray-900 text-white text-sm rounded p-4 z-10 whitespace-pre-line leading-relaxed font-mono">Standard deviation of all your ratings. High = "feast or famine" player with large swings. Low = stable rating band.</span>
            </span>
    </h1>
    <div class="border-b border-gray-200 mt-8"></div>
    <h1 class="font-zabal font-gray text-4xl my-8 mx-auto text-center text-stone-800 dark:text-zinc-100">
      Moving Averages
    </h1>
    <canvas
      id="moving-averages"
      phx-hook="MovingAverages"
      data-points={Jason.encode!(stats[:moving_averages])}
    >
    </canvas>
        <div class="border-b border-gray-200 mt-8"></div>
    <h1 class="font-zabal font-gray text-4xl my-8 mx-auto text-center text-stone-800 dark:text-zinc-100">
      Percent of Games Spent in Each Bracket
    </h1>
    <h4 class="font-zabal font-gray text-xl my-8 mx-auto text-center text-stone-800 dark:text-zinc-100">
      (Current Season)
    </h4>
        <div class="mx-auto my-auto w-full max-w-[600px] center">

    <canvas
      id="percentage-time-in-rank"
      phx-hook="PercentageTimeInRank"
      data-points={Jason.encode!(stats[:percentage_time_in_rank])}
    >
    </canvas>
    </div>
  </.async_result>
</div>
