<.nav_header show_home_link?={false} />
<.flash_group flash={@flash} />
<div class="mx-auto max-w-3xl p-10">
  <div class="mx-auto max-w-3xl lg:mx-0">
    <div class="flex justify-center items-center mb-12">
      <img src="/images/logo.png" width="64" alt="AOE4World Logo" class="mr-4" />
      <h1 class="text-brand flex items-center text-xl font-semibold leading-6 dark:text-zinc-100">
        AOE4 Stats
      </h1>
    </div>
    <p class="mt-4 text-base leading-7 text-zinc-400 text-center dark:text-stone-400">
      View more statistics and visualizations for your favorite Age of Empires IV players.
    </p>
    <p class="text-base leading-7 text-zinc-400 text-center dark:text-stone-400">
      All data is derived from the
      <a class="underline" href="https://aoe4world.com">aoe4world.com</a>
      API.
    </p>
    <div class="flex justify-center">
      <!-- Add this wrapper div -->
      <div class="w-full max-w-3xl">
        <!-- Adjust max-width as needed -->
        <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-4 sm:grid-cols-3 justify-items-center">
          <a
            href={~p"/civs_by_map"}
            class="group relative rounded-2xl px-6 py-4 text-sm font-semibold leading-6 text-zinc-900 sm:py-6 w-full max-w-xs "
          >
            <span class="absolute border-2 border-zinc-200 dark:border-stone-800 inset-0 rounded-2xl bg-zinc-50 transition group-hover:bg-zinc-100 dark:group-hover:bg-stone-800 sm:group-hover:scale-105 dark:bg-stone-800">
            </span>
            <span class="relative flex items-center gap-4 sm:flex-col dark:text-zinc-100 ">
              <.icon name="hero-map" class="w-24 h-24 dark:text-zinc-100 dark:fill-slate-100" />
              Civilization WRs by Map
            </span>
          </a>
          <a
            href={~p"/player"}
            class="group relative rounded-2xl px-6 py-4 text-sm font-semibold leading-6 text-zinc-900 sm:py-6 w-full max-w-xs"
          >
            <span class="absolute  border-2 border-zinc-200 dark:border-stone-800 inset-0 rounded-2xl bg-zinc-50 dark:bg-stone-800 transition group-hover:bg-zinc-100 dark:group-hover:bg-stone-800 sm:group-hover:scale-105">
            </span>
            <span class="relative flex items-center gap-4 sm:flex-col dark:text-zinc-100">
              <.icon name="hero-user-circle" class="w-24 h-24 dark:text-zinc-100" />
              Player Statistics
            </span>
          </a>
          <a
            href={~p"/leaderboard"}
            class="group relative rounded-2xl px-6 py-4 text-sm font-semibold leading-6 text-zinc-900 sm:py-6 w-full max-w-xs"
          >
            <span class="absolute  border-2 border-zinc-200 dark:border-stone-800 inset-0 rounded-2xl bg-zinc-50 dark:bg-stone-800 transition group-hover:bg-zinc-100 dark:group-hover:bg-stone-800 sm:group-hover:scale-105">
            </span>
            <span class="relative flex items-center gap-4 sm:flex-col dark:text-zinc-100">
              <.icon name="hero-chart-bar" class="w-24 h-24 dark:text-zinc-100" />
              Leaderboard Statistics
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
